{% extends 'base.html' %}
{% load static %}

{% block content %}
<main class="container-fluid" id="indexPro">
    <div class="grid">
        <div style="padding-left: 15rem;">
            <article data-theme="light">
                <header style="text-align: center;">
                    <h2>Registrate e Ingresa </h2>
                </header>
                <div class="grid">
                    <div style="text-align: center; padding-top: 1rem;">
                        <h4><a href="">Registrate</a></h4>
                        <hr>
                        <br>
                        <h4><a href="">Inicia Sesión</a></h4>
                    </div>
                </div>
            </article>
        </div>
        <div style="padding-left: 5rem; padding-top: 3rem;">
            <div class="heading">
                <h1>Únete a la plataforma de <mark>Emprendedores</mark></h1>
                <h3>
                    <p>
                        <strong>
                        ¿Tienes un emprendimiento o PYME?
                        </strong>
                    </p>
                </h3>
                <p style="text-align: justify; padding-right: 5rem;">
                    <mark>
                    Simplifica tu vida, realiza envíos en nuestra plataforma, y estaras ahorrando tiempo, haz seguimiento, 
                    solicita retiros en tu sucursal o agenda tu visita en nuestra sucursal.
                    </mark>
                </p>
            </div>
        </div>
    </div>
    <main class="container" style="margin-bottom: 15rem;">
        <div class="grid">
            <div><article data-theme="light"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur velit eum veritatis alias. Qui numquam cumque quas error velit omnis ipsa perspiciatis vero voluptatem inventore dolorum nemo ratione, sit magni.</p></article></div>
            <div><article data-theme="light"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur velit eum veritatis alias. Qui numquam cumque quas error velit omnis ipsa perspiciatis vero voluptatem inventore dolorum nemo ratione, sit magni.</p></article></div>
            <div><article data-theme="light"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur velit eum veritatis alias. Qui numquam cumque quas error velit omnis ipsa perspiciatis vero voluptatem inventore dolorum nemo ratione, sit magni.</p></article></div>
        </div>
        <article data-theme="light"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, minima esse ab eaque blanditiis recusandae obcaecati odit ipsam fugit iste soluta, minus molestias maxime vero, cum veritatis at accusamus corporis.</p></article>
    </main>
</main>

{% endblock %}